*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.2s linear;
}

html{
    font-family: "Roboto", sans-serif;
    background-color: rgb(241, 241, 241);
}

header{
    width: 100%;
    height: 6rem;
    background-color: rgba(000, 000, 000, 0.3);
    position: fixed;
}

.container-navbar{
    margin: 0 auto;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    background: url(imagens/logo1.jpg);
    height: 60px;
    width: 60px;
    margin: 0.5rem;
    position: absolute;
}

.logo-header img{
    width: 130px;
    border-radius: 5px;
}

.nav-bar{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.btn-nav-bar{
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 300;
    transition: all 0.1s linear;
}

.btn-nav-bar:hover{
    font-weight: 400;
}


/*Inicio*/

.container-inicio{
    background: url(imagens/solda.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container-inicio .inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    height: 100vh;
    padding-left: 4rem;
}

.container-inicio .inicio .frase-empresa{
    font-size: 35px;
    color: #ffffff;
    width: 600px;
    background-color: rgba(000, 000, 000, 0.2);
    border-radius: 15px;
    padding: 0.5rem;
    margin: 2rem 0;
}

.btn-orcamento{
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 14.5rem;
    color: #000000;
    transition: all 0.5s ease;
    margin: 0 auto;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
}

.btn-orcamento:hover{
    color: #FFF;
    background-color: #000;
    transform: scale(1.05);
}

/*Pilares*/

.pilares{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultados-texto{
    color: #000;
    font-size: 35px;
    margin: 3rem 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    opacity: 1;
}

.resultados-texto span{
    color: #000768;
    display: inline-block;
}

.resultados-texto span:hover{
    transform: scale(1.05);
}

.diferenciais{
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
}

.diferencial{
    width: 350px;
    border-radius: 10px;
    margin: 1rem 3rem;
    cursor: pointer;
}

.diferencial:hover{
    transform: translateY(-8px);
}

.diferencial h2{
    font-size: 32px;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 3px solid #000768;
}


.diferencial p{
    text-align: center;
    font-size: 18px;
    padding: 0 10px;
    padding: 1rem;
}

/*Sobre nós*/

.sobre-nos{
    height: 100vh;
}

.container-sobre{

}
