*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s ease;
}

html{
    font-family: "Roboto", sans-serif;
    background: #adadad;
    background: radial-gradient(circle,rgba(173, 173, 173, 1) 0%, rgba(232, 232, 232, 1) 27%, rgba(255, 255, 255, 1) 47%, rgba(189, 189, 189, 1) 64%, rgba(230, 230, 230, 1) 100%);
}

@keyframes balancar {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }
}

.container-sobre{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.container-sobre h2{
    color: #000;
    font-size: 35px;
    margin: 3rem 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    cursor: default;
    width: 15rem;
    margin: 0 auto;
}

.container-sobre h2 span{
    color: #000768;
    display: inline-block;
}

.container-sobre h2:hover{
    transform: scale(1.05);
}

.container-sobre .voltar{
    background-color: #000768;
    width: 6rem;
    height: 1.5rem;
    position: relative;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    border-radius: 3px;
}

.container-sobre .voltar:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(000, 000, 000, 0.2);
}

.cabecalho{
    margin-bottom: 5rem;
}

/*Seções*/

.secao1{
    display: flex;
    gap: 5rem;
    margin-top: 5rem;
}

.secao1 img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    animation: balancar 3s ease-in infinite;
}

.conteudo-sobre{
    width: calc(1200px - 25rem - 5rem);
    display: flex;
    flex-direction: column;

}

.conteudo-sobre h3{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 25px;
}

.conteudo-sobre .texto{
    text-align: justify;
    line-height: 25px;
}