*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s ease;
}

html{
    font-family: "Roboto", sans-serif;
    background: #030303;
    background: radial-gradient(circle,rgba(3, 3, 3, 1) 0%, rgba(23, 23, 23, 1) 28%, rgba(61, 61, 61, 1) 52%, rgba(20, 20, 20, 1) 77%, rgba(0, 0, 0, 1) 100%);
    color: #fff;
}

@keyframes balancar {
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }
}

.container-sobre{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
}

.container-sobre h2{
    color: #ffffff;
    font-size: 35px;
    margin: 3rem 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    cursor: default;
    width: 15rem;
    margin: 0 auto;
}

.container-sobre h2 span{
    color: #b3b3b3;
    display: inline-block;
}

.container-sobre h2:hover{
    transform: scale(1.05);
}

.container-sobre .voltar{
    background-color: #ffffff;
    width: 6rem;
    height: 1.5rem;
    position: relative;
    top: 5rem;
    left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000000;
    border-radius: 15px;
}

.container-sobre .voltar:hover{
    background-color: transparent;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.cabecalho{
    margin-bottom: 5rem;
}

/*Seções*/

.secao1{
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}

.secao1 img{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    animation: balancar 3s ease-in infinite;
}

.conteudo-sobre{
    width: 90vw;
    display: flex;
    flex-direction: column;

}

.conteudo-sobre h3{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 25px;
}

.conteudo-sobre .texto{
    text-align: justify;
    line-height: 25px;
}

/*Responsividade*/

@media (max-width: 1250px) {
    .secao1{
        flex-direction: column;
        margin: 3rem auto;
    }

    .secao1 img{
        display: none;
    }
}

@media (max-width: 1000px){
    .conteudo-sobre h3{
    font-size: 28px;
}

.conteudo-sobre .texto{
    font-size: 20px;
}
}