*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s ease;
}

html{
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
}

header{
    width: 100%;
    height: 6rem;
    background-color: rgba(000, 000, 000, 0.3);
    position: fixed;
    z-index: 99;
}

.container-navbar{
    margin: 0 auto;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    background: url(/imagens/logo001.png);
    height: 60px;
    width: 60px;
    margin: 0.5rem;
    position: absolute;
}

.logo-header img{
    width: 130px;
    border-radius: 5px;
}

.nav-bar{
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.btn-nav-bar{
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 300;
    padding: 0.2rem;
    position: relative;
}

.btn-nav-bar::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: width 0.5s ease;
}

.btn-nav-bar:hover{
    font-weight: 400;
}


.btn-nav-bar:hover::after{
    width: 100%;

}



/*Inicio*/

.container-inicio{
    background: url(/imagens/solda.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container-inicio .inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    height: 100vh;
    padding-left: 4rem;
}

.container-inicio .inicio .frase-empresa{
    font-size: 35px;
    color: #ffffff;
    width: 600px;
    background-color: rgba(000, 000, 000, 0.2);
    border-radius: 15px;
    padding: 0.5rem;
    margin: 2rem 0;
}

.btn-orcamento{
    background-color: #fff;
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 14.5rem;
    color: #000000;
    transition: all 0.5s ease;
    margin: 0 auto;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
}

.btn-orcamento:hover{
    color: #FFF;
    background-color: #000;
    transform: scale(1.05);
}

/*Pilares*/

.pilares{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultados-texto{
    color: #000;
    font-size: 35px;
    margin: 3rem 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    opacity: 1;
}

.resultados-texto span{
    color: #000768;
    display: inline-block;
    cursor: default;
}

.resultados-texto span:hover{
    transform: scale(1.05);
}

.diferenciais{
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
}

.diferencial{
    width: 350px;
    border-radius: 10px;
    margin: 1rem 3rem;
    cursor: default;
    text-align: center;
}

.diferencial:hover{
    transform: translateY(-8px);
}

.diferencial img{
    width: 60px;
    text-align: center;
    padding-bottom: 10px;
}

.diferencial h2{
    font-size: 28px;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 3px solid #000768;
    text-transform: uppercase;
}

.diferencial p{
    text-align: center;
    font-size: 18px;
    padding: 0 10px;
    padding: 1rem;
}

/*Sobre nós*/

.sobre-nos{
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(/imagens/logo001.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sobre-nos h2{
    color: #000;
    font-size: 62px;
    padding-bottom: 7rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.sobre-nos h2 span{
    color: #000768;
    display: inline-block;
    cursor: default;
}

.sobre-nos h2 span:hover{
    transform: scale(1.05);
}

.sobre-nos .container-sobre{
    display:flex ;
    align-items: center;
    height: 30rem;
    padding: 0 2rem;
}

.sobre-nos .container-sobre .imagem img{
    width: auto;
    height: 50vh;
    border-radius: 4px;
    cursor: pointer;
}

.sobre-nos .container-sobre .imagem img:hover{
    transform: scale(1.02);
}


.sobre-nos .container-sobre .sobre-text{
    width: 90rem;
    height: 40rem;
    background-color: rgba(000, 000, 000, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.sobre-nos .container-sobre .sobre-text p{
    color: #fff;
    padding: 30px;
    line-height: 25px;
    font-size: 21px;
    text-align: justify;
    font-weight: 200;
}

.btn-saber-mais{
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    width: 16rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn-saber-mais:hover{
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(000, 000, 000, 0.1);
    color: #fff;
}

/*Serviços*/

.servicos{
    background: #030303;
    background: radial-gradient(circle,rgba(3, 3, 3, 1) 0%, rgba(23, 23, 23, 1) 28%, rgba(61, 61, 61, 1) 52%, rgba(20, 20, 20, 1) 77%, rgba(0, 0, 0, 1) 100%);
}

.servicos h2{
    color: #fff;
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
    padding-top: 120px;
    margin-bottom: -120px;
    position: relative;
    z-index: 2;
}

.container-secundario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.container-images-servicos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85vw;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
}

.servicos .container-images-servicos .slide{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
    object-fit: cover;
    height: 100%;
}

.container-images-servicos .slide.on{
    opacity: 1;
    z-index: 1;
}

.servicos button{
    width: 30px;
    height: 30px;
}

#back-image, #next-image{
    background-color: transparent;
    cursor: pointer;
}

#back-image{
    transform: rotate(-90deg);
    margin-left: 25px;
}

#next-image{
    transform: rotate(+90deg);
    margin-right: 25px;
}


/*Footer*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/imagens/le-trung-IOnX2aen4jY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.solicitar-orcamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.solicitar-orcamento .titulo-footer{
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    padding-bottom: 50px;
}

.solicitar-orcamento .mensagem-footer{
    color: #fff;
    width: 800px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 200;
}

.btn-novo{
    padding: 10px 5px;
    margin-top: 25px;
}

.contatos-footer{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    place-items: center;
    padding-top: 50px;
    color: #fff;
    width: 1500px;
    align-items: center;
    
}

.logo-footer img{
    width: 20rem;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.logo-footer img:hover{
    background-color: #e2e2e2;
}

.trabalhe-conosco, .contatos, .logo-footer img{
    width: 18rem;
    height: 11rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.logo-footer img{
    background-color: rgba(255, 255, 255, 0.3);
}

.trabalhe-conosco h4, .contatos h4{
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 5px;
}

.trabalhe-conosco a{
    color: #fff;
    font-size: 18px;
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
}

.trabalhe-conosco a:hover{
    transform: scale(1.1);
    color: #ddd;
}

.contatos{
    margin: 3rem 0;
}

.contatos .links{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contatos .links .insta:hover{
    background-color: rgb(179, 0, 0);
    border-radius: 10px;
    transform: scale(1.05);
}

.contatos .links .face:hover{
    background-color: rgb(0, 110, 253);
    border-radius: 10px;
    transform: scale(1.05);
}

.contatos .links .what:hover{
    background-color: rgb(0, 216, 0);
    border-radius: 10px;
    transform: scale(1.05);
}


.saber-mais:hover{
    background-color: #ffffff;
    color: #000;
    font-weight: 500;
    border: 1px solid rgba(000, 000, 000, 0.3);
}

.rodape-informacoes{
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
